# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# IntelliJ / WebStorm
.idea/
*.iml

# Eclipse / STS
.project
.classpath
.settings/
bin/

# Build / Gradle / Dependency
.gradle/
build/
target/
node_modules/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
!**/src/main/**/build/
!**/src/test/**/build/

# Logs
*.log

# Environment
.env
.env.*
.local/

# Runtime uploads
uploads/

# Temporary files
*.tmp
*.swp

# Optional
.agents/
Todo.txt